<header class="z-max w-25-ns w-100 h-100-ns h-10 fixed br-ns bg-white">
  <nav>
    <a class="link db-ns dib tc black f4-ns f7 underline-hover pv3-ns pv2 ph4-ns ph2 bb-ns" href="/">Buletin</a>
    <a class="link db-ns dib tc black f4-ns f7 underline-hover pv3-ns pv2 ph4-ns ph2 bb-ns" href="/tentang/">Tentang</a>
    <a class="link db-ns dib tc black f4-ns f7 underline-hover pv3-ns pv2 ph4-ns ph2 bb-ns" href="/kontak/">Kontak</a>
  </nav>

  <section class="center pa4 bottom">
    <img class="rotate" src="/assets/logo.png" alt="LSM">
  </section>
</header>
